<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercadoliebre</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet"> 
    <link rel="stylesheet" href="css/styles.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
rel="stylesheet" />
</head>
<body>

    <!-- inicio de header-->
    <header>
        <div class="top-header">
            <div class="logo">
                <img src="/images/logo-mercado-liebre.svg" alt="Logo Mercado Liebre">            
            </div>
                
            <div class="barra-busqueda">
                <form class="dentro-barra" action="#" method="GET">
                    <input type="text"  placeholder="Buscar productos, marcas y más">
                    <button class="boton-barra">
                        <i class="fas fa-search"></i>
                    </button>
                </form>            
            </div>
            <p><i class="fas fa-hand-holding-usd"></i>Comprá en cuotas y sin tarjeta de crédito</p>
        </div>
        <nav>
            <ul class="nav-izq">
                <li><a href="#">Ofertas</a></li>
                <li><a href="#">Tiendas Oficiales</a></li>
                <li><a href="#">Vender</a></li>
                <li><a href="#">Ayuda</a></li>
            </ul>
            <ul class="nav-der">
                <li><a href="/register">Creá tu cuenta <i class="fas fa-user-circle"></i></a></li>
                <li><a href="/login">Ingresá <i class="fas fa-sign-in-alt"></i></a></li>
                <li><a href="#">Mis compras <i class="fas fa-shopping-cart"></i></a></li>
            </ul>
            <div class="burger-menu">
                <button class="fondo-boton">
                    <i class="fas fa-bars"></i>                    
                </button>
            </div>
        </nav>
    </header>
    <!-- fin de header-->
    <section class="banner">          
        <img src="/images/img-home-banner.jpg" width="100%" alt="Banner">
    </section>
    
    <!-- inicio de main-->
    <main>
        <section class="ultima-visita">
            <h1>Basado en tu última visita</h1>
            <div class="productos">
                <article>
                    <img src="images/img-cafetera-moulinex.jpg" width="100%">
                    <div class="detalle-producto">
                        <i class="fas fa-truck"></i>
                        <div class="p-d">
                            <p class="precios">$6.770</p>
                            <p class="descuentos">40% off</p>
                        </div>
                        <h2>Cafetera Moulinex</h2>
                    </div>    
                </article>
                <article>
                    <img src="images/img-macbook-pro-2019.jpg" width="100%">
                    <div class="detalle-producto">
                        <i class="fas fa-truck"></i>
                        <div class="p-d">
                            <p class="precios">$230.000</p>
                            <p class="descuentos">20% off</p>
                        </div>
                        <h2>MacBook Pro 2019</h2>
                    </div>     
                </article>
                <article>
                    <img src="images/img-samsung-galaxy-s10.jpg" width="100%">
                    <div class="detalle-producto">
                        <i class="fas fa-truck"></i>
                        <div class="p-d">
                            <p class="precios">$70.500</p>
                            <p class="descuentos">10% off</p>
                        </div>
                        <h2>Samsung Galaxy S10</h2>
                    </div>     
                </article>
                <article>
                    <img src="images/img-tv-samsung-smart.jpg" width="100%">
                    <div class="detalle-producto">
                        <i class="fas fa-truck"></i>
                        <div class="p-d">
                            <p class="precios">$23.200</p>
                            <p class="descuentos">5% off</p>
                        </div>    
                        <h2>SmartTv Samsung 43"</h2>
                    </div>    
                </article>
            </div>
        </section>
        
 
<!-- inicio de segunda section-->
        <section>
            <h1 class="seccion-ofertas">Ofertas</h1>
            <div class="productos">
                <article>
                    <img src="images/img-cafetera-moulinex.jpg" width="100%">
                    <div class="detalle-producto">
                        <i class="fas fa-truck"></i>
                        <div class="p-d">
                            <p class="precios">$6.770</p>
                            <p class="descuentos">40% off</p>                           
                        </div>
                        <h2>Cafetera Moulinex</h2>
                    </div>    
                </article>
                <article>
                    <img src="images/img-macbook-pro-2019.jpg" width="100%">
                    <div class="detalle-producto">
                        <i class="fas fa-truck"></i>
                        <div class="p-d">
                            <p class="precios">$230.000</p>
                            <p class="descuentos">20% off</p>
                        </div>
                        <h2>MacBook Pro 2019</h2>
                    </div>    
                </article>
                <article>
                    <img src="images/img-samsung-galaxy-s10.jpg" width="100%">
                    <div class="detalle-producto">
                        <i class="fas fa-truck"></i>
                        <div class="p-d">
                            <p class="precios">$70.500</p>
                            <p class="descuentos">10% off</p>
                        </div>
                        <h2>Samsung Galaxy S10</h2>
                    </div>    
                </article>
                <article>
                    <img src="images/img-tv-samsung-smart.jpg" width="100%">
                    <div class="detalle-producto">
                        <i class="fas fa-truck"></i>
                        <div class="p-d">
                            <p class="precios">$23.200</p>
                            <p class="descuentos">5% off</p>
                        </div>
                        <h2>SmartTv Samsung 43"</h2>
                    </div>                    
                </article>
            </div>
        </section>
<!-- fin de segunda section-->
    </main>
<!-- fin de main-->

<!--Inicio de footer -->
    <footer>
        <div class="footer-container">
        <section>
            <div><i class="fas fa-credit-card"></i></div>
            <div class="titulo-footer">
            <strong>Pagá con tarjeta o en efectivo</strong>
            <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
                puntos de pago. ¡Y siempre es seguro!</p>
        </section>
        <section>
            <div><i class="fas fa-gift"></i></div>
            <div class="titulo-footer">
            <strong>Envío gratis desde $ 2.500</strong>
            <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                productos. Es un beneficio de Mercado Puntos.</p>
        </section>
        <section>
            <div><i class="fas fa-user-shield"></i></div>
            <strong>Seguridad, de principio a fin</strong>
            <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
            porque estás siempre protegid@.</p>             
        </section>
        </div>
            <p>Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
    </footer>
    <!--Fin de footer -->
</body>
</html>