<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Bienvenidxs a MercadoLiebre</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    <link rel="stylesheet" href="css/styles.css">
  </head>

<style>
.formulario{
  padding: 20px 15px;
}

.form-control{
  margin-bottom: 15px;
}

.label-title{
  margin-bottom: 10px;
  display:block;
  font-weight: bold;
}

.form-contenedor{
  width:100%;
  padding: 8px;
  border-radius:5px;
  border:0;
}
.form-button{
  padding:3px;
  border-radius: 5px;
  background-color: #1259c3;
  color: #fff;
}

</style>

  <body>
    <header>
      <div class="top-header">
          <div class="logo">
              <img src="/images/logo-mercado-liebre.svg" alt="Logo Mercado Liebre">            
          </div>
              
          <div class="barra-busqueda">
              <form class="dentro-barra" action="#" method="GET">
                  <input type="text"  placeholder="Buscar productos, marcas y más">
                  <button class="boton-barra">
                      <i class="fas fa-search"></i>
                  </button>
              </form>            
          </div>
          <p><i class="fas fa-hand-holding-usd"></i>Comprá en cuotas y sin tarjeta de crédito</p>
      </div>
      <nav>
          <ul class="nav-izq">
              <li><a href="#">Ofertas</a></li>
              <li><a href="#">Tiendas Oficiales</a></li>
              <li><a href="#">Vender</a></li>
              <li><a href="#">Ayuda</a></li>
          </ul>
          <ul class="nav-der">
              <li><a href="/register">Creá tu cuenta <i class="fas fa-user-circle"></i></a></li>
              <li><a href="/login">Ingresá <i class="fas fa-sign-in-alt"></i></a></li>
              <li><a href="#">Mis compras <i class="fas fa-shopping-cart"></i></a></li>
          </ul>
          <div class="burger-menu">
              <button class="fondo-boton">
                  <i class="fas fa-bars"></i>                    
              </button>
          </div>
      </nav>
  </header>
    <main class="register">
      <form action="/register" method="POST" class="formulario">
        <div class="form-control">
          <input type="text" name="nombre" id="nombre" placeholder="Nombre y apellido" required class="form-contenedor"/>
        </div>
        <div class="form-control">
          <input type="text" name="usuario" id="usuario" placeholder="Nombre de usuario" required class="form-contenedor"/>
        </div>
        <div class="form-control">
          <input type="email" name="email" id="email" placeholder="E-mail" required class="form-contenedor"/>
        </div>      
        <div class="form-control">
          <label for="fechaDeNacimiento" class="label-title">Fecha de nacimiento:</label>
          <input type="date" name="fechaDeNacimiento" id="fechaDeNacimiento" required  class="form-contenedor"/>
        </div>
        <div class="form-control">
          <input type="text" name="domicilio" id="domicilio" placeholder="Domicilio" required class="form-contenedor"/>
        </div>
        <div class="form-control">          
          <label for="perfilDelUsuario" class="label-title">Perfil del usuario:</label>
          <br>
          <input type="radio" name="perfilDelUsuario" id="perfilDelUsuarioC" value="Comprador"> 
          <label for="perfilDelUsuarioC">Comprador</label>
          <input type="radio" name="perfilDelUsuario" id="perfilDelUsuarioV" value="Vendedor"> Vendedor
        </div>
        <div class="form-control">
          <label for="intereses" class="label-title">Intereses:</label>
          <input type="checkbox" name="intereses" id="intereses1" value="Electro"/> Electro
          <br>
          <input type="checkbox" name="intereses" id="intereses2" value="Moda" /> Moda
          <br>
          <input type="checkbox" name="intereses" id="intereses3" value="Hogar" /> Hogar
          <br>
          <input type="checkbox" name="intereses" id="intereses4" value="Juguetería"/> Juguetería
          <br>
          <input type="checkbox" name="intereses" id="intereses5" value="Vida sana"/> Vida sana
          <br>
        </div>
        <div class="form-control">
          <label for="foto" class="label-title">Elegí tu foto de usuario:</label>
          <input type="file" name="foto" id="foto" accept=".jpg .png"/>
        </div>
        <div class="form-control">
          <input type="password" name="contraseña" id="contraseña" placeholder="Elegí tu Contraseña" required  class="form-contenedor"/>
        </div>      
        <div class="form-control">
          <input
            type="password" name="confirmContraseña" id="confirmaContraseña" placeholder="Confirmá tu contraseña" required  class="form-contenedor"/>
        </div>
        <div>
        <button type="submit" class="form-button">Enviar</button>
        <button type="submit" class="form-button">Borrar</button>
        </div>
      </form>
    </main>      
    <footer>
      <div class="footer-container">
      <section>
          <div><i class="fas fa-credit-card"></i></div>
          <div class="titulo-footer">
          <strong>Pagá con tarjeta o en efectivo</strong>
          <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
              puntos de pago. ¡Y siempre es seguro!</p>
      </section>
      <section>
          <div><i class="fas fa-gift"></i></div>
          <div class="titulo-footer">
          <strong>Envío gratis desde $ 2.500</strong>
          <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
              productos. Es un beneficio de Mercado Puntos.</p>
      </section>
      <section>
          <div><i class="fas fa-user-shield"></i></div>
          <strong>Seguridad, de principio a fin</strong>
          <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
          porque estás siempre protegid@.</p>             
      </section>
      </div>
          <p>Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
  </footer>
  </body>
</html>
