*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
    background-color: #ebebeb;
}

header {
    background-color: #EAC926;
    padding: 20px;
}

div.top-header{
    padding: 5%;
    display: flex;
    flex-wrap: wrap;
}

header div.logo{
    width:50%;
    padding: 10px;
}

header div.barra-busqueda{
    padding:2px;
    width:50%;      
}

header div form{
    display:flex;
}
header div form input{
    background-color: #FFF;
    border-radius: 5px;
    border: 1px solid #000;
    color: #666;
    padding: 8px;
    width: 100%;
}

header div.top-header p{
    text-align: center;
    margin-top: 10px;
    width: 100%;
    font-weight: 400;
}

header nav{
    font-size: 12px;    
}

header nav ul{
    display:none;
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}

header nav a{
    text-decoration: none;
    color: #000;
    padding: 5px 0;
}

.fondo-boton{
    background-color: #1259c3;
    color: #fff;
    border-radius: 5px;
    font-size: 20px;
    padding: 10px 0px;
    width: 45px;
    display: block;
    text-align: center;
    margin:auto
}

main{
    width: 90%;
    margin:auto;
}

h1{
    font-size: 24px;
    color: #666;
}

p{
    font-size: 12px;
}


.ultima-visita{
    display: flex;
    flex-wrap: wrap;
}

.seccion-ofertas{
    display: flex;
    flex-wrap: wrap;
}

main section h1{
    margin: 20px 0px;
}

.productos{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

main section article{
    margin: 10px 0px;
    background-color: #fff;
}

main section article i{
    display:block;
    font-size: 16px;
    padding: 5px;
    width: 30px;
    height: 30px;
    border: 1px solid #39b54a;
    background-color: #fff;
    border-radius: 50%;
    position: absolute;
    right: 20px;
    top: -15px ;
}

main section article div .fas{
    color: #39b54a;   
}

article div.detalle-producto{
    border-top: 1px solid #ebebeb;
    padding: 15px;
    position:relative;
}

.p-d{
    display: flex;
}

.precios{
    font-size: 18px;
    flex-grow: 30;
}

.descuentos{
    font-size: 16px;
    color: #39b54a;
    flex-grow: 70;
}

h2{
    font-size: 16px;    
    color: #666;
    font-weight: normal;
    display: none;
    margin-top: 20px;       
}

footer{
    margin: 1% 0px;
    color: #666;
}
footer section {
text-align: center;
padding:1%;
}

footer .fas{
    font-size: 2em;
    margin-bottom: 10px;
    color: #1259c3;
}

@media (min-width: 768px){
    header .top-header{
        flex-wrap: nowrap;
        justify-content: space-evenly;
        align-items:center;
    }
    header div.logo{
        width: 30%;
    }
    header div.barra-busqueda{
        width: 30%;
    }
    header div.top-header p{
        width: 40%;
    }

    header nav{
        padding: 20px;
        display: flex;
        justify-content: space-between;
    }
    header nav ul{
        display: flex;
        margin: 0 5px;
        justify-content: space-between;
    }

    header nav li{
        margin: 0px 5px;
    }
       

    header nav div.burger-menu{
        display:none
    }
    main section article h2{
        display: block;
    }
    main section article{
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
        width: 45%;
        justify-content: space-around;
    }
       main section div.products{
        flex-wrap: wrap;
    }
}

@media (min-width: 1024px){
    header .top-header,
    header nav{
        max-width: 95%;
        margin:auto;
    }
    .top-header p{
        max-width: none;
        font-size: 16px;
    }

    header nav li{
        margin: 0px 10px;
    }
    header nav a{
        margin: 0px 10px;
        font-size: 14px;
    }

    main section article{
        width: 22%;
        box-shadow:none
    }
    
    main section article:hover{
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
    }

    main section article h2{
        opacity:0;
    }
    main section article:hover h2{
        opacity:1
    }

    main section article i:hover{
        transform: rotate(-90deg);
        transition-duration: 2s;
        
    }

    .footer-container{
    display:flex;
    justify-content: space;
    }

    footer section div i:hover {
        animation: multicolor 2s;
    } 
    @keyframes multicolor{
        0% {color: #1259c3;}
        33% {color:#39b54a;}
        66% {color:#EAC926;}
        100% {color:#EAC926;}
        }
        
    

}